$font: 'Quicksand',
Arial,
sans-serif; // font-weight: 400
$background: #2C2C2C;
$black: #000;
$black-rgb: rgba(236, 230, 230, 0.486);
$white: #FFF;
$yellow: #FFC300;
$yellow-blur: #eecb5a8e;
$grey: rgba(255, 255, 255, 0.5);
$text-color: rgba(0, 0, 0, 0.7);
$red : #ff0000;


$img-carousel-size: 128rem;
$padding-left-right: 1.5rem;
$padding-container: 3rem 2.5rem;
$background-overlay: #FAFAFA;
$color-underline: #f5f7fa;
$blur: rgba(0, 0, 0, 0.1);
$focus-input : rgba(223, 217, 217, 0.329);



