@import '../../../../assets/scss/variable'; 
@import '../../../../assets/scss/base';
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: $font;
    font-weight: 400;
    font-size: 62.5%;
    line-height: 1.8rem;
    box-sizing: border-box;
}

.active {
    color: $yellow!important;
}

::-webkit-scrollbar {
    display: none;
}

body {
    width: 100%;
    .main {
        width: 80%;
        float: right;

        .all-content-about {
            width: 100%;
            
            .top-about {
                display: flex;
                margin-top: 4rem;
            }
        }
    }
}
// TOP About
.top-about {

    .left-img {
        width: 50%;
        margin: 0 1% 0 1.2rem;
    }

    .right-contents {
        width: 50%;
        margin: 0 1%;
        overflow: hidden;
    }
}

// Left
.left-img {

    .img__links {
        background-image: url(/images/pic/pic2.jpg);
        padding-top: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }

}

// Right

.right-contents__top {
    
    .welcome {
        @extend %title-one;
    }

    .intro-text {
        @extend %title-two-h2;
        position: relative;
        padding: 2rem 0 4rem;
        
        &::after {
            content: "";
            @extend %underline;
            bottom: 3.7rem;
        }
    }
}

.right-contents__top {
    
    .desc1,
    .desc2 {
        font-size: 1.3rem;
        color: $text-color;
    }

    .desc1 {
        margin-bottom: 2rem;
    }

}

.right-contents__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    
    

    .contents-bottom__text {
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.8rem;
        color: $text-color;
        text-transform: uppercase;
    }
    
}

.container-dash {
    display: flex;
    margin-top: 4rem;
    

    .dash {
        @extend %tag-a;
        cursor: default;
        position: relative;

        &::after {
            content: '';
            width: 28rem;
            border: 1px solid $blur;
            position: absolute;
            top: 50%;
            left: 0;
        }
    }
    .dash:nth-child(2) {
        margin: 0 0 0 24rem;
    }
    .dash:nth-child(3) {
        margin: 0 0 0 24rem;
        
    }
    
}

.dash {
    
    .around-icon::after{
        $height:40px;
        content: '';
        position: absolute; 
        border: 1px solid $blur;
        width: $height;
        height: $height;
        border-radius: 50%;
        left: 0;
        background-color: $white;
        z-index: 1;
    }

    .icon__links {
        z-index: 2;
        position:relative;
        margin: 0 auto;
        left: 13px;
        top: 2px;

        &:hover {
        color: $yellow;
        }
    }
}

// End - TOP About


// History 

    .history {
        $width-left:40%;
        margin: 6rem 0 0 1.2rem;
        display: flex;

        .history-left {
            width: $width-left;
        }

        .history-right {
            width: calc(100%-$width-left);
        }
    }
    .history-left {
        .his-title {
            @extend %title-two-h2;
            position: relative;
            margin-bottom: 4rem;
        
            &::after{
                content: '';
                @extend %underline;
                bottom: -0.4rem;
            }
        }

        .his-content {
            font-size: 1.4rem;
            font-weight: 300;
        }

    }




// End - History