@font-face {
  font-family: 'icomoon';
  src:  url('../../icon/icomoon.eot?gks4qq');
  src:  url('../../icon/icomoon.eot?gks4qq#iefix') format('embedded-opentype'),
    url('../../icon/icomoon.ttf?gks4qq') format('truetype'),
    url('../../icon/icomoon.woff?gks4qq') format('woff'),
    url('../../icon/icomoon.svg?gks4qq#icomoon') format('svg');
  
  /* icon/public/icon */
  src:  url('../../icon/public/icon/icomoon.eot?vbw34i');
  src:  url('../../icon/public/icon/icomoon.eot?vbw34i#iefix') format('embedded-opentype'),
    url('../../icon/public/icon/icomoon.ttf?vbw34i') format('truetype'),
    url('../../icon/public/icon/icomoon.woff?vbw34i') format('woff'),
    url('../../icon/public/icon/icomoon.svg?vbw34i#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-instagram1:before {
  content: "\e90d";
  color: #e4405f;
}
.icon-shopping-cart:before {
  content: "\e900";
}
.icon-add_shopping_cart:before {
  content: "\e901";
}
.icon-local_grocery_store:before {
  content: "\e902";
}
.icon-shopping-bag:before {
  content: "\e914";
}
.icon-shopping-cart1:before {
  content: "\e903";
}
.icon-chevrons-left:before {
  content: "\e910";
}
.icon-chevrons-right:before {
  content: "\e911";
}
.icon-cart:before {
  content: "\e904";
}
.icon-shopping-cart2:before {
  content: "\e905";
}
.icon-chevron-thin-right:before {
  content: "\e90e";
}
.icon-chevron-thin-left:before {
  content: "\e90f";
}
.icon-shopping-cart3:before {
  content: "\e906";
}
.icon-shopping-cart4:before {
  content: "\e907";
}
.icon-cart-plus:before {
  content: "\e908";
}
.icon-home:before {
  content: "\e909";
}
.icon-home2:before {
  content: "\e90a";
}
.icon-home3:before {
  content: "\e90b";
}
.icon-office:before {
  content: "\e913";
}
.icon-newspaper:before {
  content: "\e90c";
}
.icon-play:before {
  content: "\e912";
}
.icon-phone:before {
  content: "\e942";
}
.icon-location:before {
  content: "\e947";
}
.icon-location2:before {
  content: "\e948";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-clipboard:before {
  content: "\e9b8";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-sun:before {
  content: "\e9d4";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-opt:before {
  content: "\ea51";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}