@import '../../../../assets/scss/_variable.scss';
@import '../../../../assets/scss/base';
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: $font;
    font-weight: 400;
    font-size: 62.5%;
    line-height: 1.8rem;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    width: 100%;
    // overflow: hidden;
}


.cart-container {
    width: 80%;
    float: right;

    .title {
        margin: 4rem 0 4rem 1.4rem;
    }
}


.title {
    .cart-title-brief {
        @extend %title-one;
    }
    .title__text {
        @extend %title-two-h2;
        position: relative;
        
        &::after {
            content: '';
            @extend %underline;
            bottom: -0.4rem;
        }
    }

}

.main-cart {
    display: flex;
    border-bottom: solid 1px #eceef2;
    padding-bottom: 6rem;

    .main-cart__left {
        width: 64.666666667%;
        margin: 0 1%;
    }
    
    .main-cart__right {
        width: 31.333333333%;
        margin: 0.26rem 0 0 0;
        background-color:$color-underline;
        user-select: none;
        padding: 0.8rem 1.8rem 4rem 1.8rem;
    }
}

.main-cart__left {

    .container-left__table {
        border: none;

        .table-header {
            background-color:$color-underline;
            margin-bottom: 10rem;
        }
        .table-header__title {
            color: $text-color;
            // height: 4rem;
            padding: 0.5rem 5.5rem 0.5rem 5.5rem;
            border: solid 1px white ;
            
            &:nth-child(2) {
                width: 30rem;
            }
        }
    }
}

.container-left__table {

    .table-item {
        text-align: center;
        .table-item__img {
            $height:10rem;
            width: $height;
            height: $height;
            margin-top: 0.6rem;
            
        }

        .table-item-qty {
            background-color: $background-overlay;
            padding: 1rem 1.6rem;
            text-align: center;
            user-select: none;
            cursor: pointer;

            &:nth-child(2) {
                cursor: default;
            }
        }

        &:last-child {
            color: red;
        }
    }
}

.main-cart__right {

    .cart-right__title{
        font-size: 2.8rem;
        color: $text-color;
        padding: 2rem 0;
    }

    .car-right__list{
        list-style: none;
        color: $text-color;
    }
}

.car-right__list {
    .car-right__item {
        display: flex;
        justify-content: space-between;
        padding: 1.4rem 0;
    }

    .car-right__links {
        display: block;
        text-decoration: none;
        color: $text-color;
        cursor: default;
    }
}

.main-cart__right {

    .cart-right__btn {
        background-color: $yellow;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.6rem 0;
        cursor: pointer;
        margin-top: 6rem;
        transition: all linear 0.14s;
        
        &:active {
            background-color: $background;
        }

        .right-btn__links {
            text-decoration: none;
            display: block;
            color: $white;
            font-size: 2rem;
            font-weight: 500;
            user-select: none;
            letter-spacing: 1px;
            
        }
    }
}


// Resposive

// table and mobile
@media (max-width: 1023px) {
    .cart-container {
        width: 100%;
        padding-bottom: 8rem;
    }
    ::-webkit-scrollbar {
        display: none;
    }
}

// tablet
@media (min-width: 740px) and (max-width: 1023px) {
    .main-cart {
        flex-wrap: wrap;
        width: 100%;

        .main-cart__left {
            width: 80%;
            margin: 0 1%;
        }
        
        .main-cart__right {
            width: 54%;
            margin: 4rem auto;
        }
    }

    .main-cart__left {

        .container-left__table {

            .table-header__title {
                padding: 0.5rem 4.8rem 0.5rem 4.8rem;
            }
        }
    }    
    
    .container-left__table {
        .table-item {

            .table-item-qty {
                padding: 0.6rem 1.2rem;
            }
        }
    }
}

// mobile 

@media (max-width: 739px) {
    .main-cart {
        flex-wrap: wrap;
        width: 100%;

        .main-cart__left {
            width: 80%;
            margin: 0 1%;
        }
        .main-cart__right {
            width: 100%;
            margin: 10rem 0 0 14rem;
        }
    }
}