@import '../../../../assets/scss/variable';
@import '../../../../assets/scss/base';


::-webkit-scrollbar {
    display: none;
}

body {
    width: 100%;
}

.product-container {
    width: 80%;
    float: right;
    margin: 4rem 0rem 0 0;
    padding-bottom: 10rem;
    overflow: hidden;
}


// Top
.product-top {
    margin-left: 1.4rem;

    .product__title-one {
        @extend %title-one;
    }

    .product__title-two {
        @extend %title-two-h2;
        position: relative;
        
        &::after {
            content: '';
            @extend %underline;
            bottom: -0.6rem;
        }
    }
}

// Top replace

.top-replace {
    display: none;
    align-items: center;
    margin-top: 1.4rem;

    .author-replace {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    
    }

    .replace-cart__links {
        @extend %tag-a;
        margin: 0.4rem 1.2rem 0 0;
        .cart-img {
            width: 5rem;
        }
    }
}

.author-replace {

    .replace__sign-in {
        display: flex;
        background-color: $yellow;
        height: 4.2rem;
        width: 10rem;
        border-radius: 6rem;
        justify-content: center;
        align-items: center;

        .replace-sign-in__links {
            @extend %tag-a;
            color: $white;
            width: 100%;
            text-align: center;
            font-size: 1.6rem;
            letter-spacing: 1px;
            text-transform: capitalize;
        }
    }

    .replace-sign-up__links {
        color: $yellow;
        width: 10rem;
        font-size: 1.6rem;
        margin: 0 1.4rem 0 1.4rem;
        text-transform: capitalize;
        text-decoration: underline;
        text-align: center;
    }
}


// Category 
.category-container {
    margin: 4rem 0 0 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // .category-left {

    // }

    .category-right {
        display: flex;
        align-items: center;
        margin-right: 8rem;
        justify-content: space-between;
    }
}
.category-product__list {
    display: flex;

    .category-product__item {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid $focus-input ;
        border-right: 1px solid $focus-input ;
        border-bottom: 1px solid $focus-input ;
        border-radius: 4px;
        overflow: hidden;

        &:first-child {
            border-left: 1px solid $focus-input;
        }
        
        &:hover .category-product__links {
            color: $white;
            background-color: $yellow;
        }
        
        .category-product__links {
            @extend %tag-a;
            padding: 1rem 3rem;
            transition: all linear 0.14s;
        }
    }
}

.category-right {

    .author {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .cart__links {
        @extend %tag-a;
        
        .cart-img {
            width: 6rem;
        }
    }
    
}


.author {
    .author__sign-in {
        display: flex;
        background-color: $yellow;
        height: 5.2rem;
        width: 16rem;
        border-radius: 6rem;
        justify-content: center;
        align-items: center;
        &:hover {
            opacity: 0.8;
        }

        .sign-in__links {
            @extend %tag-a;
            color: $white;
            width: 100%;
            text-align: center;
            font-size: 1.9rem;
            letter-spacing: 1px;
            text-transform: capitalize;

        }

    }

    .sign-up__links {
        text-decoration: none;
        color: $yellow;
        font-size: 1.9rem;
        margin: 0 3.6rem;
        text-transform: capitalize;

        &:hover {
            opacity: 0.8;
            text-decoration: underline;
        }
    }
}


// End - Category



// All Product 

.all-product {
    margin: 4rem 0 0 1.4rem;
    width: 100%;

    .container-item {
        width: 100%;

        .no-product {
            flex: 0 0 16.666666667%;
        }

        .product {
            flex: 0 0 83.333333333%;
            margin-left: -12px;
            margin-right: -12px;
            display: flex;
            flex-wrap: wrap;

            .product-col {
                @extend %tag-a;
                padding-left: 12px;
                padding-right: 12px;
                flex: 0 0 19.2%;
                margin-bottom: 24px;
                position: relative;
                overflow: hidden;

                &:hover .btn-product{
                    display: flex;
                }
            }
        }

    }
}

.product-item {
    @extend %tag-a;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all linear 0.04s;
    padding-bottom: 4rem;
    &:hover {
        background-color: $background-overlay;
        // box-shadow :0 1px 5px $blur;
        border: solid 1px $yellow;
    }
    
    .product-img {
        height: 20%;
        display: flex;
        justify-content: center;
        padding: 4rem 0 0 0;

        img {
            height: 20rem;
        }
    }
}

.product-item {
    .product-desc {
        padding: 4rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        .product-name {
            font-size: 2.4rem;

            a {
                text-decoration: none;
                color: $text-color;
            }
        }

        .product-price {
            color: $red;
            margin-top: 1.2rem;
            font-weight: 600;
            cursor: default;
            user-select: none;
        }
    }
}

.btn-product {
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 1rem;
    display: none;

    .detail-product, 
    .buy-product     {   
        @extend %tag-a;
        flex: 0 0 44%;
        background-color: $yellow;
        text-align: center;
        padding: 1.2rem 0;
        border-radius: 4rem;
        font-weight: 400;
        color: $white;
        transition: all linear 0.14s;
        cursor: pointer;
        &:hover {
            opacity: 0.8;
        }
        &:active {
            background-color: $background;
        }
    }

    .detail-product {
        margin-left: 1.4rem;
    }

    .buy-product {
        margin-right: 2rem;
        background-color: transparent;
        color: $yellow;

        &:hover {
            text-decoration: underline;
        }
        
    }
}

// End - All Product



// End product

.product-end {
    margin-top: 6rem;
}

// End







// Resposive

// table and mobile
@media (max-width: 1023px) {
    .top-replace {
        display: flex;
    }
    
    .category-container {
        
        .category-right {
            display: none;
        }
    }

    .product-end {
        padding-bottom: 4rem;
    }

    .open-nav {
        top: 1.5%;
        left: 2%
    }
    #header-show-nav:checked {
        
        ~ .close-nav {
           left: calc(4% + 22rem);
        }
    }
}


// tablet
@media (min-width: 740px) and (max-width: 1023px) {

    .product-container {
        width: 100%;
    }
    .all-top-product {
        width: 100%;
        display: flex;
    }
    .product-top {
        width: 60%;
        .product__title-one {
            font-size: 1rem;
        }
    
        .product__title-two {
            font-size: 1.4rem;
        }
    }

    .all-product {
        margin: 4rem 0 0 0;
        width: 100%;
    
        .container-item {
    
            .product {
                flex: 0 0 100%;
                
                display: flex;
                flex-wrap: wrap;
                padding: 0 1.4rem;
                .product-col {
                    flex: 0 0 33.333333333%;
                    margin-bottom: 24px;
                }
            }
        }
    }

    .product-item {

        .product-img {

            img {
                height: 10rem;
            }
        }
    }


    .btn-product {
        display: flex;
        
        .detail-product {
            margin-left: 1rem;
        }
        .buy-product {
            background-color: $white;
            color: $yellow;
            text-decoration: underline;
        } 
    }

 
}


// mobile
@media (max-width: 739px) {
    
    .open-nav,.close-nav {
        font-size: 2.8rem;
        left: 4.4%;
    }

    .product-container {
        width: 100%;
    }
    .all-top-product {
        width: 100%;
        display: flex;
    }
    .product-top {
        width: 38%;
        display: flex;
        flex-direction: column;

        .product__title-one {
            font-size: 1rem;
        }
        .product__title-two {
            font-size: 1.4rem;
        }
    }
    .top-replace {
        display: flex;
        width: 50%;

        .replace-cart__links {
            margin: 0.4rem 0 0 0;
            .cart-img {
                width: 4rem;
            }
        }
    }
    
    .author-replace {
        .replace__sign-in {
            height: 4.2rem;
            width: 8rem;
    
            .replace-sign-in__links {
                font-size: 1.3rem;
            }
        }
    
        .replace-sign-up__links {
            width: 8rem;
            font-size: 1.3rem;
            margin: 0 0 0 0;
        }
    }

    section.category-left {
        overflow: auto;
        margin: 0 0 0 -1.3rem;
    }


    .all-product {
        margin: 4rem 0 0 0;
        .container-item {
            .product {
                .product-col {
                    flex: 0 0 100%;
                    padding-left: 0;
                    padding-right: 0;
                }
            }  
        }
    }

    .top-replace {
        .author-replace {
            display: none;
        }
    }

    .category-product__list {
        margin-left: 0.4rem;
        .category-product__item {
            
            .category-product__links {
                padding: 1rem 1rem;
                min-width: 6rem;
            }
        }
    }

    .btn-product {
        display: flex;

        .detail-product,
        .buy-product{
            font-size: 2rem;
            padding: 1.4rem 0;
        }

        .detail-product {
            margin-left: 2.6rem;
        }
        .buy-product {
            text-decoration: underline;
        }
    }

    .product-end {
        display: flex;
        margin-left: 8%;
    }
    .pagination__list {

        .pagination__item {
            padding: 0 1.6rem;
        }
    }
}

