@import '../../../../assets/scss/variable';


::-webkit-scrollbar {
    display: none;
}

body {
    width: 100%;
}

.product-container {
    width: 80%;
    float: right;
    margin-top: 4rem;
}

.product-top {
    margin-left: 1.2rem;

    .product__title-one {
        @extend %title-one;
    }

    .product__title-two {
        @extend %title-two-h2;
        position: relative;
    }
    .product__title-two::after {
        content: '';
        @extend %underline;
        bottom: -0.6rem;
    }
}