@import '../../../../assets/scss/variable';
@import '../../../../assets/scss/base';


::-webkit-scrollbar {
    display: none;
}

body {
    width: 100%;
}

.product-container {
    width: 80%;
    float: right;
    margin: 4rem 0rem 0 0;
    overflow: hidden;
}

.product-top {
    margin-left: 2rem;

    .product__title-one {
        @extend %title-one;
    }

    .product__title-two {
        @extend %title-two-h2;
        position: relative;
    }
    .product__title-two::after {
        content: '';
        @extend %underline;
        bottom: -0.6rem;
    }
}

// All Product 

.all-product {
    margin: 4rem 0 0 2px;

    .container-item {
        margin-left: -12px;
        margin-right: -12px;
        display: flex;
        flex-wrap: wrap;

        .product-item {
            width: 24%;
            padding-left: 12px;
            padding-right: 12px;
            // margin: 1rem 0.5rem 1rem 0.5rem;
            height: 100%;
            // border: 1px solid $blur;
            cursor: pointer;
            
            &:hover {
                box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
                background-color: $focus-input;
            }
        } 
    }
}

.product-item {
    
    

    .product-img {
        height: 40%;
        display: flex;
        justify-content: center;
        padding: 4rem 0 0 0;

        img {
            height: 26rem;
        }
    }

    .product-desc {
        padding: 4rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        .product-name {
            font-size: 2.4rem;

            a {
                text-decoration: none;
                color: $text-color;
            }
        }

        .product-price {
            color: $red;
            font-weight: 600;
            cursor: default;
            user-select: none;
        }
    }
}

// End - All Product