.product-top .product__title-one {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 1.3rem;
}

.product-top .product__title-two {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 0.4rem;
}

.product-top .product__title-two::after {
  position: absolute;
  left: 0.1rem;
  width: 5rem;
  border: 2px solid #FFC300;
}

.pagination__list .pagination__item .pagination__links, .top-replace .replace-cart__links, .author-replace .replace__sign-in .replace-sign-in__links, .category-product__list .category-product__item .category-product__links, .category-right .cart__links, .author .author__sign-in .sign-in__links, .all-product .container-item .product .product-col, .product-item, .btn-product .detail-product,
.btn-product .buy-product {
  display: block;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}

.pagination {
  margin: 4rem 0;
}

.pagination .pagination__list {
  display: flex;
  justify-content: flex-end;
  margin-right: 8rem;
}

.pagination__list .pagination__item {
  width: 3.5rem;
  height: 3.5rem;
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pagination__list .pagination__item:hover .pagination__links {
  background-color: #FFC300;
  color: #FFF;
}

.pagination__list .pagination__item:first-child .pagination__links {
  padding-bottom: 0.4rem;
}

.pagination__list .pagination__item:last-child .pagination__links {
  padding-bottom: 0.4rem;
}

.pagination__list .pagination__item .pagination__links {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  line-height: 1.4rem;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all linear 0.14s;
}

::-webkit-scrollbar {
  display: none;
}

body {
  width: 100%;
}

.product-container {
  width: 80%;
  float: right;
  margin: 4rem 0rem 0 0;
  padding-bottom: 10rem;
  overflow: hidden;
}

.product-top {
  margin-left: 1.4rem;
}

.product-top .product__title-two {
  position: relative;
}

.product-top .product__title-two::after {
  content: '';
  bottom: -0.6rem;
}

.top-replace {
  display: none;
  align-items: center;
  margin-top: 1.4rem;
}

.top-replace .author-replace {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.top-replace .replace-cart__links {
  margin: 0.4rem 1.2rem 0 0;
}

.top-replace .replace-cart__links .cart-img {
  width: 5rem;
}

.author-replace .replace__sign-in {
  display: flex;
  background-color: #FFC300;
  height: 4.2rem;
  width: 10rem;
  border-radius: 6rem;
  justify-content: center;
  align-items: center;
}

.author-replace .replace__sign-in .replace-sign-in__links {
  color: #FFF;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.author-replace .replace-sign-up__links {
  color: #FFC300;
  width: 10rem;
  font-size: 1.6rem;
  margin: 0 1.4rem 0 1.4rem;
  text-transform: capitalize;
  text-decoration: underline;
  text-align: center;
}

.category-container {
  margin: 4rem 0 0 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-container .category-right {
  display: flex;
  align-items: center;
  margin-right: 8rem;
  justify-content: space-between;
}

.category-product__list {
  display: flex;
}

.category-product__list .category-product__item {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(223, 217, 217, 0.329);
  border-right: 1px solid rgba(223, 217, 217, 0.329);
  border-bottom: 1px solid rgba(223, 217, 217, 0.329);
  border-radius: 4px;
  overflow: hidden;
}

.category-product__list .category-product__item:first-child {
  border-left: 1px solid rgba(223, 217, 217, 0.329);
}

.category-product__list .category-product__item:hover .category-product__links {
  color: #FFF;
  background-color: #FFC300;
}

.category-product__list .category-product__item .category-product__links {
  padding: 1rem 3rem;
  transition: all linear 0.14s;
}

.category-right .author {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.category-right .cart__links .cart-img {
  width: 6rem;
}

.author .author__sign-in {
  display: flex;
  background-color: #FFC300;
  height: 5.2rem;
  width: 16rem;
  border-radius: 6rem;
  justify-content: center;
  align-items: center;
}

.author .author__sign-in:hover {
  opacity: 0.8;
}

.author .author__sign-in .sign-in__links {
  color: #FFF;
  width: 100%;
  text-align: center;
  font-size: 1.9rem;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.author .sign-up__links {
  text-decoration: none;
  color: #FFC300;
  font-size: 1.9rem;
  margin: 0 3.6rem;
  text-transform: capitalize;
}

.author .sign-up__links:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.all-product {
  margin: 4rem 0 0 1.4rem;
  width: 100%;
}

.all-product .container-item {
  width: 100%;
}

.all-product .container-item .no-product {
  flex: 0 0 16.666666667%;
}

.all-product .container-item .product {
  flex: 0 0 83.333333333%;
  margin-left: -12px;
  margin-right: -12px;
  display: flex;
  flex-wrap: wrap;
}

.all-product .container-item .product .product-col {
  padding-left: 12px;
  padding-right: 12px;
  flex: 0 0 19.2%;
  margin-bottom: 24px;
  position: relative;
}

.all-product .container-item .product .product-col:hover .btn-product {
  display: flex;
}

.product-item {
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all linear 0.14s;
  padding-bottom: 4rem;
}

.product-item:hover {
  background-color: #FAFAFA;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.product-item .product-img {
  height: 20%;
  display: flex;
  justify-content: center;
  padding: 4rem 0 0 0;
}

.product-item .product-img img {
  height: 20rem;
}

.product-item .product-desc {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-item .product-desc .product-name {
  font-size: 2.4rem;
}

.product-item .product-desc .product-name a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}

.product-item .product-desc .product-price {
  color: #ff0000;
  font-weight: 600;
  cursor: default;
  user-select: none;
}

.btn-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 1rem;
  display: none;
}

.btn-product .detail-product,
.btn-product .buy-product {
  flex: 0 0 44%;
  background-color: #FFC300;
  text-align: center;
  padding: 0.5rem 0;
  border-radius: 4rem;
  font-weight: 400;
  color: #FFF;
  transition: all linear 0.14s;
}

.btn-product .detail-product:hover,
.btn-product .buy-product:hover {
  opacity: 0.8;
}

.btn-product .detail-product:active,
.btn-product .buy-product:active {
  background-color: #2C2C2C;
}

.btn-product .buy-product {
  margin-right: 2rem;
  background-color: #FFF;
  color: #FFC300;
}

.btn-product .buy-product:hover {
  text-decoration: underline;
}

.product-end {
  margin-top: 6rem;
}

@media (max-width: 1023px) {
  .top-replace {
    display: flex;
  }
  .category-container .category-right {
    display: none;
  }
  .product-end {
    padding-bottom: 4rem;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .product-container {
    width: 100%;
  }
  .all-top-product {
    width: 100%;
    display: flex;
  }
  .product-top {
    width: 60%;
  }
  .product-top .product__title-one {
    font-size: 1rem;
  }
  .product-top .product__title-two {
    font-size: 1.4rem;
  }
  .all-product {
    margin: 4rem 0 0 0;
    width: 100%;
  }
  .all-product .container-item {
    width: 100%;
  }
  .all-product .container-item .no-product {
    flex: 0 0 0%;
  }
  .all-product .container-item .product {
    flex: 0 0 100%;
    margin-left: -12px;
    margin-right: -12px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 1.4rem;
  }
  .all-product .container-item .product .product-col {
    padding-left: 12px;
    padding-right: 12px;
    flex: 0 0 33.333333333%;
    margin-bottom: 24px;
    position: relative;
  }
  .product-item .product-img img {
    height: 10rem;
  }
  .btn-product {
    display: flex;
  }
  .btn-product .buy-product {
    background-color: #FFF;
    color: #FFC300;
    text-decoration: underline;
  }
}

@media (max-width: 739px) {
  .product-container {
    width: 100%;
  }
  .all-top-product {
    width: 100%;
    display: flex;
  }
  .product-top {
    width: 38%;
    display: flex;
    flex-direction: column;
  }
  .product-top .product__title-one {
    font-size: 1rem;
  }
  .product-top .product__title-two {
    font-size: 1.4rem;
  }
  .top-replace {
    display: flex;
    width: 50%;
  }
  .top-replace .replace-cart__links {
    margin: 0.4rem 0 0 0;
  }
  .top-replace .replace-cart__links .cart-img {
    width: 4rem;
  }
  .author-replace .replace__sign-in {
    height: 4.2rem;
    width: 8rem;
  }
  .author-replace .replace__sign-in .replace-sign-in__links {
    font-size: 1.3rem;
  }
  .author-replace .replace-sign-up__links {
    width: 8rem;
    font-size: 1.3rem;
    margin: 0 0 0 0;
  }
}
/*# sourceMappingURL=product.css.map */