@import '../../../../assets/scss/variable';
@import '../../../../assets/scss/base';

::-webkit-scrollbar {
    display: none;
}

body {
    width: 100%;
}

.service-container {
    width: 80%;
    float: right;
    margin-top: 4rem;
}



// Service - Top

.service-top {
    
    .service__title-one {
        @extend %title-one;
    }

    .service__title-two {
        @extend %title-two-h2;
        position: relative;
        
        &::after {
            content: '';
            @extend %underline;
            bottom: -0.4rem;
        }
    }
}

// End - Top

// Service - Center 

.service-center {
    // background-color: red;
    margin: 4rem -12px;
    display: flex;
    flex-wrap: wrap;
    
    .service-col {
        flex: 0 0 50%;
        padding: 0 12px;
    }
}

.service-item {
    display: flex;
    margin: 2rem 1.2rem;
    justify-content: space-between;
    align-items: center;

    .item__icon {
        width: 10rem;
        height: 8.5rem;
        background-color: $background-overlay;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1rem;

        i {
            font-size: 4rem;
            color: $yellow;
        }
    }
}

.service-item__desc {
    
    .desc__title {
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
    }

    .desc__brief {
        font-size: 1.2rem;
        font-weight: 300;
        color: $text-color;
        line-height: 1.6rem;
    }
}


// .service-container {
//     .service-grid {
//         margin: 60px 40px;
//     }

// }
.service-container {
    .service-grid {
        margin: 70px 0;
        width: 100%;

        .grid-row {
            width: 100%;
            display: flex ;
            height: 220px;
            justify-content: space-evenly;
            flex-wrap: wrap;
            .row-img {
                flex: 0 0 32%;
                margin: 20px;
            }
        }
    }
}

.row-img {
    width: 100%;
    .img-service {
        width: 350px;
        height: 160px;
        background-position: center;
        background-image: url(images/serviceip12.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .img-service_desc {
        z-index: 1;
        width: 78%;
        top: -20px;
        margin-top: -14px;
        padding: 2px 14px;
        background-color:#fafafa;
        text-transform: uppercase;
        color: $text-color;
        letter-spacing: 2px;

    }
}


// End - Center

//Mobile & Tablet

@media screen and (max-width:1023px) {
    .header {
        min-width: 30rem;
        transform: translateX(-150%);
        opacity: 0;
        transition: all linear 0.26s;
    }
    .box-shadow-on-mobile-tablet {
        box-shadow: 0 1px 4px 6px rgba(0, 0, 0, 0.3);
    }

    .open-nav {
        opacity: 1;
        display: block;
    }

    .close-nav {
        opacity: 0;
        display: block;
    }
    
    .grid-row {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    

}
