@import '../../../../assets/scss/_variable.scss';
@import '../../../../assets/scss/base';

::-webkit-scrollbar {
    display: none;
}
body {
    width: 100%;
}

.blog-container {
    width: 80%;
    float: right;
}
// Blog - Top
.blog-top {
    margin: 4rem 0 2rem 0.8rem;
    .blog__title-one {
        @extend %title-one;
    }

    .blog__title-two {
        @extend %title-two-h2;
        position: relative;
        
        &::after {
            content: '';
            @extend %underline;
            position: absolute;
            bottom: -0.4rem;
        }
    }
}

// End Top


// Blog - Center
.blog-center {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .blog-item {
        width: 31.333333333%;
        background-color: $background-overlay;
        margin: 1.2rem 12px;

        .blog-img {
            background-image: 
            url('/images/banner/banner1.jpg');
            padding-top: 100%;
            background-repeat: no-repeat;
            background-size: contain;
            cursor: pointer;
        }
        
    }
} 

.blog-info {
    margin-top: -10rem;
    padding-left: 0.2rem;
    .items__sub-title {
        font-size: 1rem;
        color: $text-color;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding-bottom: 1rem;
    }

    .item__title {
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: 500;
        padding-bottom: 2rem;
    }

    .item__brief {
        font-size: 1.2rem;
        color: $text-color;
        font-weight: 500;
    }
}
// End - Center


